In [7]:
import pandas as pd
import numpy as np
from statsmodels.stats.weightstats import ztest as ztest
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

## DEPENDIENTES

In [8]:
df = pd.read_csv("datasets/blood_pressure.csv")
df.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [10]:
df["dif"]  = df["before"]-df["after"]
df.head()

       before       after        dif
0  136.713072   92.432965  44.280107
1  134.735618  105.022643  29.712975
2  127.529115   82.242766  45.286349
3  144.527126   93.607172  50.919953
4  124.214720  103.212223  21.002497

In [17]:
z, pvalue = ztest(x1=df["dif"], value=0, alternative='two-sided')
pvalue

5.301153610177836e-164

In [16]:
alfa = 0.1

In [18]:
if pvalue < alfa:
    print("We reject the hypothesis because P value is less than alfa")
else:
    print("We accept the hypothesis because P value is greater than alfa")

We reject the hypothesis because P value is less than alfa

In [19]:
z2, pvalue2 = ztest(x1=df["dif"], value=0, alternative='larger')
pvalue2

2.650576805088918e-164

In [20]:
if pvalue2 < alfa:
    print("We reject the hypothesis because P value is less than alfa")
else:
    print("We accept the hypothesis because P value is greater than alfa")

We reject the hypothesis because P value is less than alfa

In [21]:
"""Como rechazamos la H0 sabríamos que la diferencia de presión arterial es diferente entre ambos grupos. Si repetimos el test pero con “alternative=larger”nos sigue dando que rechazamos la H0, y que la diferencia es mayor que cero, por lo tanto el medicamento SI bajaría la presión arterial"""

'Como rechazamos la H0 sabríamos que la diferencia de presión arterial es diferente entre ambos grupos. Si repetimos el test pero con “alternative=larger”nos sigue dando que rechazamos la H0, y que la diferencia es mayor que cero, por lo tanto el medicamento SI bajaría la presión arterial'

## INDEPENDIENTES

In [25]:
df2 = pd.read_csv("datasets/ab_test.csv")
df2.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [27]:
z3, pvalue3 = ztest(x1=df2["a"],x2=df2["b"], value=0, alternative='two-sided')
pvalue3

0.008351145504323936

In [28]:
if pvalue3 < alfa:
    print("We reject the hypothesis because P value is less than alfa")
else:
    print("We accept the hypothesis because P value is greater than alfa")

We reject the hypothesis because P value is less than alfa

In [30]:
z4, pvalue4 = ztest(x1=df2["a"],x2=df2["b"], value=0, alternative='larger')
pvalue4

0.995824427247838

In [31]:
if pvalue4 < alfa:
    print("We reject the hypothesis because P value is less than alfa")
else:
    print("We accept the hypothesis because P value is greater than alfa")

We accept the hypothesis because P value is greater than alfa

In [34]:
z5, pvalue5 = ztest(x1=df2["a"],x2=df2["b"], value=0, alternative='smaller')
pvalue5

0.004175572752161968

In [35]:
if pvalue5 < alfa:
    print("We reject the hypothesis because P value is less than alfa")
else:
    print("We accept the hypothesis because P value is greater than alfa")

We reject the hypothesis because P value is less than alfa

In [37]:
"""es decir que la diferencia es diferente a cero y que es MENOR A CERO y por lo tanto la media de la columna B es MAYOR"""

'es decir que la diferencia es diferente a cero y que es MENOR A CERO y por lo tanto la media de la columna B es MAYOR'